<section>
  <h1>{{title}}</h1>

  <ng-container *ngIf="data$|async as data">
    <p>{{data|json}}</p>
    <p>{{data.length}}</p>
    <div>chart~~~</div>
  </ng-container>
</section>

<section>
  <ngx-charts-line-chart
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    (select)="onSelect($event)"
    [legend]="legend"
    [results]="data$|async"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [timeline]="timeline"
    [view]="view"
    [xAxisLabel]="'x'"
    [xAxis]="xAxis"
    [yAxisLabel]="'y'"
    [yAxis]="yAxis"
    trimXAxisTicks="true"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [xAxisTickFormatting]="handleXAxis.bind(this)"
  >
  </ngx-charts-line-chart>

</section>

